<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title>ברוכים הבאים</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div style="text-align:center; margin-top:100px;">
    <h1>ברוכים הבאים למערכת השאלת ציוד רפואי</h1>
    <p>מאחלים לכם רפואה שלמה וכל טוב 🌸</p>

    <br><br>

    <a href="/login">
      <button style="padding:10px 20px; font-size:16px;">
        התחברות למערכת
      </button>
    </a>
  </div>

</body>
</html>
